* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

a {
    text-decoration: none;
}

.navbar {
    background: #e23e57;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list a {
    color: white;
    font-weight: 700;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.25rem;
}

footer {
    background: #1b1b1b;
    color: white;
    text-align: center;
    font-weight: 550;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer a {
    color: #e23e57;
}