* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
  }

h1 {
    font-size: 2.25rem;
}

section:first-child {
    display: block;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

section:first-child img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

a:hover {
    background: #62c1bf;
    border-radius: 0.75rem;
}

.navbar {
    background: #e23e57;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list a {
    color: white;
    font-weight: 700;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.25rem;
}

.welcome-text {
    padding-top: 5rem;
    text-align: center;
    font-weight: 500;
}

.welcome-text p {
    font-size: 1.5rem;
    border-bottom: 0.15rem solid #e23e57;
}

.article-section {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.featured-text {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.other-articles-section {
    display: flex;
    justify-content: center;
}

.other-articles {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 4rem;
}

.other-articles img {
    width: 25%;
}

.other-text {
   padding-top: 1rem;
}

footer {
    background: #1b1b1b;
    color: white;
    text-align: center;
    font-weight: 550;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer a {
    color: #e23e57;
}